* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  background-color: #2d8e2d;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.header {
  background-color: #8b7e2f;
  height: 5.625rem;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.486);
}

.content {
  display: grid;
  padding: 2.5rem;
  gap: 1.25rem;
  height: 90vh;
}

/* Diamonds section */
.diamonds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-self: center;
}

.diamond {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #ff0000;
  border: 2px solid black;
  transform: rotate(45deg);
}
/* Here I am positioning these diamnods */
.diamond:nth-child(1) {
  grid-row-start: 2;
}
.diamond:nth-child(2) {
  grid-column-start: 2;
}

/* Middle section with lines and circle */
.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.middle-section-position {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lines {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.line {
  height: 1.125rem;
  width: 7.5rem;
  background-color: #0000ff;
  border: 2px solid black;
}

.circle {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-color: #389286;
  border: 2px solid black;
}

/* My box with abc text */
.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 20rem;
  height: 100%;
  background-color: white;
  justify-self: center;
  align-self: center;
  grid-column: 3;
  grid-row: 1 / 4;
  border: 2px solid black;
}
.box span {
  margin-top: 1.875rem;
  font-size: 2.125rem;
  text-transform: uppercase;
}

/*  (< 583px) */
@media (max-width: 582px) {
  .box {
    background-color: #0000cd;
    grid-column: 1;
    grid-row: 3;
    width: 12rem;
  }
  .content {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .diamond {
    width: 5rem;
    height: 5rem;
  }
  .line {
    height: 0.75rem;
    width: 6.25rem;
    background-color: #0000ff;
    border: 2px solid black;
  }

  .circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #389286;
    border: 2px solid black;
  }
  .middle-section-position {
    align-items: flex-end;
  }
  .box {
    grid-row-end: 5;
    height: 100%;
  }
}

/*  (583px - 900px) */
@media (min-width: 583px) and (max-width: 900px) {
  .box {
    background-color: #d03434;
  }
  .content {
    grid-template-rows: 1fr 1fr;
  }
  .middle-section-position {
    grid-column: 1;
    grid-row: 3;
  }
}

/* (> 900px) */
@media (min-width: 901px) {
  .content {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
